[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
"github3.py" = "*"
python-debian = "*"
requests = "*"
pygithub = "*"
pydpkg = "*"
uvicorn = "*"
pydantic-settings = "*"
boto3 = "*"
python-gnupg = "*"
requests-cache = "*"
rq = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
